@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    --primary: #4DF;
    --primary-dark: rgb(45, 146, 168);
    --accent: #D48;
}